<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>NSCameraUsageDescription</key>
    <string>Needed for recording videos.</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>Needed for recording videos.</string>
    <key>NSAppTransportSecurity</key>
    <dict>
       <key>NSAllowsArbitraryLoads</key>
       <true/>
    </dict>
	<key>NSMicrophoneUsageDescription</key>
    <string>Can we access your microphone?</string>
    <key>NSContactsUsageDescription</key>
    <string>Need access to contacts to provide certain features</string>
	<key>NSCameraUsageDescription</key>
    <string>Your message to the user when the camera is accessed</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Your message to the user when the photo library is accessed</string>
    <key>NSAppleMusicUsageDescription</key>
    <string>Allow access to Apple Music for selecting music files</string>
    <key>io.flutter.embedded.platform-incremental-compiler</key>
    <string>11.6</string>
    <key>io.flutter.embedded.platform-request-incremental-compilation</key>
    <true/>
    <key>io.flutter.embedded.platform-request-incremental-compilation.threshold</key>
    <string>5</string>
    <key>io.flutter.embedded.platform-version</key>
    <string>3.6</string>
    <key>io.flutter.embedded.platform-version-name</key>
    <string>3.6</string>
    <key>io.flutter.embedded.platform-version-platform</key>
    <string>ios</string>
    <key>io.flutter.embedded.platform-version-version</key>
    <string>3.6</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Need access to location</string>
    <key>io.flutter.embedded.platform-version-revision</key>
    <string>3.6</string>
	<key>CFBundleDisplayName</key>
	<string>Vivah Ai</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>vivah_ai</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
</dict>
</plist>
